<extend name='./public/index/Template.html'/>
<block name='path'>
		<li><a href="{:U('index/index')}">首页</a></li>
		<li><a href="{:U('Message/index')}">消息中心</a></li>
		<li><a href="{:U('/Users/index')}">个人中心</a></li>
</block>
<block name='css'>
	<!-- <load href="__PUBLIC__/css/bootstrap.min.css"/> -->
 	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
	<style>
		.container{
			width:1000px;
		}
		th{
			text-align: center;
		}
	</style>
	
</block>
<block name='main'>
	<div class="container">

			<div class="row">
				<div class="col-sm-2" style="background:#F0F6F9;">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="{:U('/Message/index',['type'=>post])}">发新消息</a></li>
						<li role="presentation"><a href="{:U('/Message/index',['type'=>sms,'action'=>'receive'])}">站内信
						<if condition="$unread gt 0">
							<span style="color:red;">({$unread})</span>
						<esle/>

						</if>
						</a>
						</li>
						<li role="presentation"><a href="{:U('/Message/index',['type'=>notice])}">通知
						<if condition="$noticenum gt 0">
							<span>({$noticenum})</span>
						<esle/>

						</if>
						</a>
						</li>
						<li role="presentation"><a href="{:U('/Message/index',['type'=>request])}">请求
						<if condition="count($friendcount) gt 0">
							<span style="color:red;">({$friendcount})</span>
						<esle/>

						</if>
						</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-6">
					{//第一种可能：只输入了type参数和值为sms，没有action的值，就默认是收件箱}
					<if condition="($_GET['type'] eq 'sms' AND (count($_GET) eq 1)) or ((count($_GET)) lt 1) or (($_GET['type'] eq 'sms') AND ($_GET['action'] eq 'receive')) or ($_GET['p'] AND count($_GET) eq 1)">
					<h2>站内信(共{$count}条)</h2>
					<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'receive'])}">收件箱</a> <a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'send'])}">发件箱</a>

					<span style="float:right;"><a href="{:U('index.php/Home/Message/index/',['type'=>'search'])}">消息搜索</a></span>
					<div>
					<a id="tag" class="btn btn-warning" onclick="tag()">标记已读</a>
 					<a id="del" class="btn btn-danger" onclick="return del()">删除</a>
					<a onclick="choose()" class="btn btn-info">全选</a>
 					<a onclick="clear_all()" class="btn btn-info">清空</a>
 					<a onclick="fx()" class="btn btn-info">反选</a>
 					</div>
					<if condition="$count eq 0">
					<br>
					<span style="font-size:18px;font-weight:bold;">
					你的收件箱空空如也！
					</span>
					<else/>
					<table border=1>
						<tr>
							<th></th>
							
							<th>发件人</th>
							<th>标题</th>
							<th>内容</th>
							<th>状态</th>
							<th>接收时间</th>
						</tr>
						<foreach name="list" key="key" item="val">
								<tr>
									<td><input type="checkbox" name="$val['id']" value="$val['id']"><span style="display:none;">{$val['id']}</span></td>
									
									<td>{$val['sendername']}</td>
									<td><a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['id'],'status'=>1])}">{$val['title']}</a></td>
									<td>{$val['content']}</td>
									<if condition="$val['status'] eq 0">
									<td>未读</td>
									<else/>
									<td>已读</td>
									</if>
									<td>{$val['sendtime']}</td>
								</tr>
						</foreach>
					</table>
					{$show}
					</if>

					{//第二种可能：输入了type参数和值，action的值为send，就是发件箱}
					<elseif condition="($_GET['type'] eq 'sms') AND ($_GET['action'] eq 'send')" />
					<b style="font-size:18px;">站内信(共{$count}条)</b><br>
					<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'receive'])}">收件箱</a> <a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'send'])}">发件箱</a>

					<span style="float:right;"><a href="{:U('index.php/Home/Message/index/',['type'=>'search'])}">消息搜索</a></span>
					<div>
					<a id="tag" class="btn btn-warning" onclick="tag()">标记已读</a>
 					<a id="del" class="btn btn-danger" onclick="return del()">删除</a>
					<a onclick="choose()" class="btn btn-info">全选</a>
 					<a onclick="clear_all()" class="btn btn-info">清空</a>
 					<a onclick="fx()" class="btn btn-info">反选</a>
 					</div>
					<if condition="$count eq 0">
					<br>
					<span style="font-size:18px;font-weight:bold;">
					你的发件箱空空如也！
					</span>
					<else/>

					<table border=1>
						<tr>
							<th></th>
							<th>收件人</th>
							<th>标题</th>
							<th>内容</th>
							<th>状态</th>
							<th>发送时间</th>
						</tr>
						<foreach name="list" key="key" item="val">
								<tr>
									<td><input type="checkbox" name="$val['id']" value="$val['id']"><span style="display:none;">{$val['id']}</span></td>
									<td>{$val['receivername']}</td>
									<td><a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['id'],'status'=>2])}">{$val['title']}</a></td>
									<td>{$val['content']}</td>
									<if condition="$val['status'] eq 0">
									<td>对方未读</td>
									<else/>
									<td>对方已读</td>
									</if>
									<td>{$val['sendtime']}</td>
								</tr>
							
					
					</foreach>
					</table>
					{$show}
					</if>

					{//第三种可能：只输入了type参数和值为notice，就是通知页面}
					<elseif condition="($_GET['type'] eq 'notice')" />
					<h2>通知(共{$count}条)</h2>
					<table border=1>
						<tr style="text-align:center;">
							<th>标题</th>
							<th>内容</th>
							<th>时间</th>
							<th>发送人</th>
						</tr>
						<foreach name="list" key="key" item="val">
								<tr>
									<td style="font-weight:bold;font-size:18px;">{$val['title']}</td>
									<td>{$val['content']}</td>
									<td>{$val['addtime']}</td>
									<td style="color:red;">系统</td>
								</tr>
							
					
					</foreach>
					</table>
					{$show}
					
					{//第四种可能：只输入了type参数和值为request，就是好友请求页面}
					<elseif condition="($_GET['type'] eq 'request')" />
					
					<foreach name="list" key="key" item="val">
						<span style="width:100px;border:1px solid gray;">{$val['nickname']}<a class="btn btn-info" href="{:U('Home/Message/friend',[id=>$val['id'],'status'=>1])}">接受</a><a class="btn btn-danger" href="{:U('Home/Message/friend',[id=>$val['id'],'status'=>0])}">拒绝</a></span>
					</foreach>

					{//第五种可能：只输入了type参数和值为search，就是信息搜索页面}
					<elseif condition="($_GET['type'] eq 'search')" />
					<form action="{:U('Home/Message/index/',['type'=>'search'])}" method="post">
					<div id="friends" style="display:none;color:red;">
						
						<php> $i=0;</php>
						<table border=1 id="table">
						<foreach name="list" key="key" item="val">
							<if condition="$i % 5 eq 0">
								<tr>
							</if>
									<td style="border:1px solid gray;display:inline;color:red;" id="{$key}">{$val}</td>
							<if condition="$i % 5 eq 4 or $i eq (count($list)-1)">
								</tr>
							</if>
						<php>$i++;</php>
							
						</foreach>
						</table>
					</div>
					<input type="hidden" name="id" value="" id="postid">
					<input type="text" name="search" id="text">
					<a class="btn btn-info" id="myfriend" onclick="display()">我的好友</a>
					<input type="submit" value="搜索">
					</form>
					<if condition="$searchlist[0]['names'] eq 1">
						<span style="color:red;">没有搜索到结果</span>
					<elseif condition="empty($searchlist[0]['names'])"/>
					<else/>
						<table border=1>
							<tr>
								<th>标题</th>
								<th>内容</th>
								<th>时间</th>
								<th>发送人</th>
							</tr>

							<foreach name="searchlist" key="key" item="val">
								<tr>
									<td><a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['id']])}">{$val['title']}</a></td>
									<td>{$val['content']}</td>
									<td>{$val['sendtime']}</td>
									<if condition="$val['senderid'] eq $_SESSION['mybbs_home'][0]['id']">
										<td style="color:red;">我</td>
									<else/>
										<td style="color:red;">{$val['name']}</td>
									</if>
								</tr>
							</foreach>
						</table>
						{$show}
					</if>
					

					{//第五种可能：只输入了type参数和值为post，就是写新信息页面}
					<elseif condition="($_GET['type'] eq 'post')" />
					<h2>写新消息</h2>
					<form action="{:U('Home/Message/post')}" method="post">
					收件人：
						<if condition="$list[0]['id'] lt 1">
						{//不指定发新消息给某人的就走这里}
							<span><input type="text" name="receivername" id="receivername"></span><br><br>
						<else/>
						
						{//是其他页面时点击某人头像发信息的时候就走这里}
							<span><input type="text" name="receivername" id="receivername" value="{$list[0]['nickname']}" readonly></span><br><br>
						</if>

					标题：<input type="text" name="title"><br><br>
					内容：<textarea name="content" style="resize: none;"></textarea><br><br>
					 <div class="control-group">
                 		<label class="laber_from">验证码</label>
                		<input type="text" name="verify"/>     
                        <img class="verify" src="{:U(verify)}" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" />
           			 </div>
					<input value="发送" type="submit">
					</form>

					
					{//第六种可能：参数为type、值为info,就是回信页面，也是具体消息内容页面}
					<elseif condition="($_GET['type'] eq 'sms') AND ($_GET['action'] eq 'info')" />
					站内信(共{$count}条)

						

							<if condition="$list[0]['senderid'] neq $_SESSION['mybbs_home'][0]['id']">
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'receive'])}">返回收件箱</a>
							<else/>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'send'])}">返回发件箱</a>
							</if>
					
						<foreach name="list" key="key" item="val">
							<if condition="$val['lastid'] eq 0 AND $val['nextid'] eq 0">
								没有更多短消息
							<elseif condition="$val['lastid'] eq 0 AND $val['nextid'] neq 0"/>
								上一条没有啦<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['nextid']])}">下一条</a>
							<elseif condition="$val['lastid'] neq 0 AND $val['nextid'] eq 0"/>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['lastid']])}">上一条</a>下一条没有啦
							<else/>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['lastid']])}">上一条</a>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['nextid']])}">下一条</a>
							</if>
							<br>
							{//将与我对话的人的昵称加红色字体}
							和<span style='color:red;'>{$val['sendername']}</span>的对话
							{//volist标签是可以将多维数组逐层剥开，获得里面的单个属性值,name后面是数组，id后面是新数组}
							<volist name='list' id='vo'>

								<h3>标题：{$val['title']}</h3>
								{//如果发送者不是我，那么就是别人发给我的，就显示对方发送者。否则就是我发给别人的，显示我：}
								<if condition="$vo.senderid neq 1">
									<b>发信人：</b>{$val['sendername']} <b>内容：</b>{$val['content']}
								<else/>
									<b>我：</b>{$_SESSION['usersname']}  {$val['content']}
								</if>
							</volist>
							
							<form action="{:U('Home/Message/add')}" method="post">
									<input hidden name="senderid" value=1>									
									<input hidden name="title" value={$val['title']}>
									<textarea name="content" style="resize: none;">请输入内容</textarea>
									<if condition="$val['senderid'] eq $_SESSION['mybbs_home'][0]['id']">
										<input hidden name="receiverid" value={$val['receiverid']}>
									<else/>
										<input hidden name="receiverid" value={$val['senderid']}>
									</if>
									<div class="control-group">
				                 		<label class="laber_from">验证码</label>
				                		<input type="text" name="verify"/>     
				                        <img class="verify" src="{:U(verify)}" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" />
				           			</div>
									<input type="submit" value="提交">
								</form>
							
							
							
						</foreach>
						

					</if>
				</div>
				

					<div class="col-sm-2">
					</div>
			</div>
	</div>
<script>
	function choose(){
		// each 就是循环
		$('input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态全部取true
			ziji.checked = true;
		});
	}
	function clear_all(){
		// each 就是循环
		$('td input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态全部取false
			ziji.checked = false;
		});
	}
	function fx(){
		// each 就是循环
		$('td input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态取反
			ziji.checked = !ziji.checked;
		});
	}

	function del(){
		var arr=new Array();  
		$('td input:checkbox:checked').each(function(i){ 
			//得到隐藏的id的值。
			arr[i] = this.parentNode.lastChild.innerHTML;
			//下面这个可以获得当前顺序的第几个，以0开始，后面的累加。所以选中第1和第3个框就是值0和2。
			//arr[i] = $(this).parents("tr").index();
			
		});
		
		console.dir(arr);
		if(arr.length>0){
			if(confirm("确定删除吗？")){
          		location.href="http://localhost/obj2/GZ23_PJ_BBS/Home/Message/del/data/"+arr;

      		}
		}else{
			alert("请至少选择一个"); 
		}
		
	}

	function tag(){
		var arr=new Array(); 
		$('td input:checkbox:checked').each(function(i){ 
			//得到隐藏的id的值。
			arr[i] = this.parentNode.lastChild.innerHTML;
			//下面这个可以获得当前顺序的第几个，以0开始，后面的累加。所以选中第1和第3个框就是值0和2。
			//arr[i] = $(this).parents("tr").index();
			
		});
		
		if(arr.length>0){
			if(confirm("确定标注已读吗？")){
          		location.href="http://localhost/obj2/GZ23_PJ_BBS/Home/Message/tag/data/"+arr;

      		}
		}else{
			alert("请至少选择一个"); 
		}
		
	}

	function display(){
		if($('#friends').css('display')=='none'){
			$('#friends').css('display','block');
		}else{
			$('#friends').css('display','none');
		}
		
	}

	var box = document.getElementById('text');
	console.log(box);
	$('#table td').each(function(i){	
/*
		this.onclick=function(){
			
			var str=this.innerHTML;
			box.setAttribute('value',str);
			console.log(1);

		}*/
		$(this).click(function () {
			var id=$(this).prop('id');
			$('#text').prop('value', $(this).html() );
			$('#postid').prop('value',id);

		});

	});
	

</script>
</block>