<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
 	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
	<style>
		
	</style>
	
</head>
<body>
	<b><a href="{:U('Home/Message/index')}">消息中心</a></b> <b><a href="{:U('Home/Users/index')}">个人中心</a></b><br><br><br>
	<div class="container">
			<div class="row">
					<div class="left" class="col-sm-3">
						<a href="{:U('Home/Message/index',['type'=>post])}">发新消息</a><br>
						<a href="{:U('Home/Message/index',['type'=>sms])}">站内信</a>
						<if condition="count($unread) gt 0">
							<span style="color:red;">({$unread})</span>
						<esle/>

						</if>
						<br>
						<a href="{:U('Home/Message/index',['type'=>notice])}">通知</a>
						<if condition="count($noticenum) gt 0">
							<span>({$noticenum})</span>
						<esle/>

						</if><br>
						<a href="{:U('Home/Message/index',['type'=>request])}">请求</a><br>
					</div>
				<div class="right"  class="col-sm-6">
					{//第一种可能：只输入了type参数和值为sms，没有action的值，就默认是收件箱}
					<if condition="($_GET['type'] eq 'sms' AND (count($_GET) eq 1)) or ((count($_GET)) lt 1) or (($_GET['type'] eq 'sms') AND ($_GET['action'] eq 'receive'))">
					站内信(共{:count($list)}条)1<br>
					<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'receive'])}">收件箱</a> <a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'send'])}">发件箱</a>
					
					<a id="tag" class="btn btn-info" onclick="tag()">标记已读</a>
 					<a id="del" class="btn btn-danger" onclick="return del()">删除</a>
					<a onclick="choose()" class="btn btn-info">全选</a>
 					<a onclick="clear_all()" class="btn btn-info">清空</a>
 					<a onclick="fx()" class="btn btn-info">反选</a>

					<table border=1>
						<tr>
							<th></th>
							
							<th>发件人</th>
							<th>标题</th>
							<th>内容</th>
							<th>状态</th>
							<th>接收时间</th>
						</tr>
						<foreach name="list" key="key" item="val">
								<tr>
									<td><input type="checkbox" name="$val['id']" value="$val['id']"><span style="display:none;">{$val['id']}</span></td>
									
									<td>{$val['sendername']}</td>
									<td><a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['id'],'status'=>1])}">{$val['title']}</a></td>
									<td>{$val['content']}</td>
									<if condition="$val['status'] eq 0">
									<td>未读</td>
									<else/>
									<td>已读</td>
									</if>
									<td>{$val['sendtime']}</td>
								</tr>
						</foreach>
					</table>
					{$show}

					{//第二种可能：输入了type参数和值，action的值为send，就是发件箱}
					<elseif condition="($_GET['type'] eq 'sms') AND ($_GET['action'] eq 'send')" />
					站内信(共{$count}条)2<br>
					<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'receive'])}">收件箱</a> <a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'send'])}">发件箱</a>
					
 					<a id="del" class="btn btn-danger" onclick="return del()">删除</a>
					<a onclick="choose()" class="btn btn-info">全选</a>
 					<a onclick="clear_all()" class="btn btn-info">清空</a>
 					<a onclick="fx()" class="btn btn-info">反选</a>

					<table border=1>
						<tr>
							<th></th>
							<th>收件人</th>
							<th>标题</th>
							<th>内容</th>
							<th>状态</th>
							<th>发送时间</th>
						</tr>
						<foreach name="list" key="key" item="val">
								<tr>
									<td><input type="checkbox" name="$val['id']" value="$val['id']"><span style="display:none;">{$val['id']}</span></td>
									<td>{$val['receivername']}</td>
									<td><a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['id'],'status'=>2])}">{$val['title']}</a></td>
									<td>{$val['content']}</td>
									<if condition="$val['status'] eq 0">
									<td>对方未读</td>
									<else/>
									<td>对方已读</td>
									</if>
									<td>{$val['sendtime']}</td>
								</tr>
							
					
					</foreach>
					</table>
					{$show}

					{//第三种可能：只输入了type参数和值为notice，就是通知页面}
					<elseif condition="($_GET['type'] eq 'notice')" />
					通知(共{$count}条)
					<table border=1>
						<tr>
							<th>标题</th>
							<th>内容</th>
							<th>时间</th>
							<th>发送人</th>
						</tr>
						<foreach name="list" key="key" item="val">
								<tr>
									<td><a href="{:U('index.php/Home/Message/index',['type'=>'notice','action'=>'info','titleid'=>$val['id']])}">{$val['title']}</a></td>
									<td>{$val['content']}</td>
									<td>{$val['addtime']}</td>
									<td style="color:red;">系统</td>
								</tr>
							
					
					</foreach>
					</table>
					{$show}
					
					{//第四种可能：只输入了type参数和值为request，就是请求页面}
					<elseif condition="($_GET['type'] eq 'request')" />
					站内信(共{$count}条)5

					{//第五种可能：只输入了type参数和值为post，就是写新信息页面}
					<elseif condition="($_GET['type'] eq 'post')" />
					<h2>写新消息</h2>
					<form action="{:U('Home/Message/post')}" method="post">
					收件人：<span><input type="text" name="receivername" id="receivername"></span><br><br>

					标题：<input type="text" name="title"><br><br>
					内容：<textarea name="content"></textarea><br><br>
					 <div class="control-group">
                 		<label class="laber_from">验证码</label>
                		<input type="text" name="verify"/>     
                        <img class="verify" src="{:U(verify)}" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" />
           			 </div>
					<input value="发送" type="submit">
					</form>

					
					{//第六种可能：参数为type值为info,就是回信页面，也是具体消息内容页面}
					<elseif condition="($_GET['type'] eq 'sms') AND ($_GET['action'] eq 'info')" />
					站内信(共{$count}条)7

						

							<if condition="$list[0]['senderid'] neq 1">
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'receive'])}">返回</a>
							<else/>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'send'])}">返回</a>
							</if>
					
						<foreach name="list" key="key" item="val">
							<if condition="$val['lastid'] eq 0 AND $val['nextid'] eq 0">
								没有更多短消息
							<elseif condition="$val['lastid'] eq 0 AND $val['nextid'] neq 0"/>
								上一条没有啦<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['nextid']])}">下一条</a>
							<elseif condition="$val['lastid'] neq 0 AND $val['nextid'] eq 0"/>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['lastid']])}">上一条</a>下一条没有啦
							<else/>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['lastid']])}">上一条</a>
								<a href="{:U('index.php/Home/Message/index',['type'=>'sms','action'=>'info','titleid'=>$val['nextid']])}">下一条</a>
							</if>
							<br>
							{//将与我对话的人的昵称加红色字体}
							和<span style='color:red;'>{$val['sendername']}</span>的对话
							{//volist标签是可以将多维数组逐层剥开，获得里面的单个属性值,name后面是数组，id后面是新数组}
							<volist name='list' id='vo'>

								<h3>标题：{$val['title']}</h3>
								{//如果发送者不是我，那么就是别人发给我的，就显示对方发送者。否则就是我发给别人的，显示我：}
								<if condition="$vo.senderid neq 1">
									<b>发信人：</b>{$val['sendername']} <b>内容：</b>{$val['content']}
								<else/>
									<b>我：</b>{$_SESSION['usersname']}  {$val['content']}
								</if>
							</volist>
							
							<form action="{:U('Home/Message/add')}" method="post">
									<input hidden name="senderid" value=1>									
									<input hidden name="title" value={$val['title']}>
									<textarea name="content">请输入内容</textarea>
									<if condition="$val['senderid'] eq 1">
										<input hidden name="receiverid" value={$val['receiverid']}>
									<else/>
										<input hidden name="receiverid" value={$val['senderid']}>
									</if>
									<input type="submit" value="提交">
								</form>
							
							
							
						</foreach>
						

					</if>
				</div>
				

					<div class="col-sm-3">
					</div>
			</div>
	</div>
</body>
<script>
	function choose(){
		// each 就是循环
		$('input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态全部取true
			ziji.checked = true;
		});
	}
	function clear_all(){
		// each 就是循环
		$('td input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态全部取false
			ziji.checked = false;
		});
	}
	function fx(){
		// each 就是循环
		$('td input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态取反
			ziji.checked = !ziji.checked;
		});
	}

	function del(){
		var arr=new Array();  
		$('td input:checkbox:checked').each(function(i){ 
			//得到隐藏的id的值。
			arr[i] = this.parentNode.lastChild.innerHTML;
			//下面这个可以获得当前顺序的第几个，以0开始，后面的累加。所以选中第1和第3个框就是值0和2。
			//arr[i] = $(this).parents("tr").index();
			
		});
		
		console.dir(arr);
		if(arr.length>0){
			if(confirm("确定删除吗？")){
          		location.href="http://localhost/obj2/GZ23_PJ_BBS/Home/Message/del/data/"+arr;

      		}
		}else{
			alert("请至少选择一个"); 
		}
		
	}

	function tag(){
		var arr=new Array(); 
		$('td input:checkbox:checked').each(function(i){ 
			//得到隐藏的id的值。
			arr[i] = this.parentNode.lastChild.innerHTML;
			//下面这个可以获得当前顺序的第几个，以0开始，后面的累加。所以选中第1和第3个框就是值0和2。
			//arr[i] = $(this).parents("tr").index();
			
		});
		
		console.dir(arr);
		if(arr.length>0){
			if(confirm("确定标注已读吗？")){
          		location.href="http://localhost/obj2/GZ23_PJ_BBS/Home/Message/tag/data/"+arr;

      		}
		}else{
			alert("请至少选择一个"); 
		}
		
	}

</script>
</html>