<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台模板</title>
<load href="__PUBLIC__/css/add.css"/>
<load href="__PUBLIC__/css/bootstrap.min.css"/>
 <load href="__PUBLIC__/js/jquery.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>

</head>
<body>
<center>
<h1>后台系统登录</h1>
<div class="div_from_aoto" style="width: 500px;">
    <form action="{:U('Admin/Login/dologin')}"  method="post" enctype="multipart/form-data">
        <div class="control-group">
            <label class="laber_from">用户名</label>
            <div class="controls"><input name="admin_name" class="input_from" placeholder=" 请输入用户名" type="text"><p class="help-block"></p></div>
        </div>
        <div class="control-group">
            <label class="laber_from">密码</label>
            <div class="controls"><input name="pass" class="input_from" placeholder=" 请输入密码" type="text"><p class="help-block"></p></div>
        </div>

           <div class="control-group">
                 <label class="laber_from">验证码</label>
                <input type="text" name="verify" class="form-control" placeholder="验证码" style="width:100px;" />               
                <img class="verify" src="{:U(verify)}" alt="验证码" onClick="this.src=this.src+'?'+Math.random()" />
            </div>
    

        <div class="control-group">
            <label class="laber_from"></label>
            <div class="controls">
                <button class="btn btn-success" style="width:120px;">登录</button>
                <input type="reset" value="重置" class="btn btn-info" style="width:120px;"/>
            </div>
        </div>
    </form>
</div>
</center>
</body></html>