.tile-stats {
  position: relative;
  display: block;
  background: #303641;
  margin:0;
  padding: 20px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.tile-stats:hover {
  background: #252a32;
}

.tile-stats h3 {
  font-size: 18px;
  margin-top: 5px;
}
.tile-stats p {
  font-size: 11px;
  margin-top: 5px;
}
.tile-stats.tile-red {
  background: #f56954;
}
.tile-stats.tile-red:hover {
  background: #f4543c;
}
.tile-stats.tile-red .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-red .num,
.tile-stats.tile-red h3,
.tile-stats.tile-red p {
  color: #ffffff;
}
.tile-stats.tile-green {
  background: #00a65a;
}
.tile-stats.tile-green:hover {
  background: #008d4c;
}
.tile-stats.tile-green .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-green .num,
.tile-stats.tile-green h3,
.tile-stats.tile-green p {
  color: #ffffff;
}
.tile-stats.tile-blue {
  background: #0073b7;
}
.tile-stats.tile-blue:hover {
  background: #00639e;
}
.tile-stats.tile-blue .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-blue .num,
.tile-stats.tile-blue h3,
.tile-stats.tile-blue p {
  color: #ffffff;
}
.tile-stats.tile-aqua {
  background: #00c0ef;
}
.tile-stats.tile-aqua:hover {
  background: #00acd6;
}
.tile-stats.tile-aqua .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-aqua .num,
.tile-stats.tile-aqua h3,
.tile-stats.tile-aqua p {
  color: #ffffff;
}
.row{
  margin:10px;
}
.tile-stats .num,
.tile-stats h3,
.tile-stats p {
  position: relative;
  color: #ffffff;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.tile-stats .num {
  font-size: 38px;
  font-weight: bold;
}