<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>帖子</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
	<!-- 文本编辑器 -->
	
	 
	

	<style>
		.table{
			width:90%;
			margin:0 auto;
			box-shadow:0px 0px 3px 0px #ccc;
			
		}
		.td{
			
			border-left:1px solid #fff;
			border-right:1px solid #fff;
		}
		#btn{
			width:40px;
			height:40px;
			border-radius:50%;
			position:fixed;
			top:100px;
			right:34px;
			box-shadow:13px 13px 5px 5px #ccc;
			transform:rotate(360deg); 
		}
		#show{
			width:200px;
			height:100px;
			/*border:1px solid red;*/
			position:fixed;
			top:100px;
			right:100px;
			index:2;
			display:none;
		}
		#send{
			cursor:pointer;
		}
		#text{
			font-size:12px;
		}
		#cou{

		}
		#send_show{
			display:none;
		}
	
	</style>
</head>
<body>
	<!-- 跳转按钮开始 -->
	<button type="button" class="btn btn-success" id='btn' onclick='shows()'><span class="glyphicon glyphicon-plus" aria-hidden="true" id='jia'></span></button>
	<!-- 跳转弹出框开始 -->
		<div id='show'>
			<div class="panel panel-default">
			  <div class="panel-heading">跳转至</div>
			  <div class="panel-body">
			  		<div class="btn-toolbar" role="toolbar" aria-label="...">
					   <foreach name='followList' key='k' item='v'>
					   		<div class="btn-group" role="group" aria-label="..."><a href="#{$v['L']+$k+1}L">{$v['L']+$k+1}L</a></div>
					   </foreach>
					</div>
			  </div>
			</div>
		</div>
	<!-- 跳转弹出框结束 -->
	<!-- 跳转按钮结束 -->
	<div id="btnBox" style='margin-left:50px;'>{$show}</div>
	
	 <table class='table' border='0' style="word-break:break-all">
		<tr class='warning'>
	 		<td width='220'>
	 			<div><div><b>{$userList['nickname']}</b>&nbsp;&nbsp;&nbsp;<span class="badge">{$userList['username']}</span></div><br>
	 				<div><span class="label label-danger"><small>发言人</small></span></div>
	 			</div>
	 			<hr>
	 			<div align='center'>
	 				<img src="__ROOT__/Uploads/images/new{$userList['image']}" alt="图片不存在" width='120' class="img-circle">
	 			</div>
	 			<hr>
	 			<div>
	 				<span class="label label-info">等级</span>&nbsp;&nbsp;&nbsp;<span class="badge"><b>8</b></span>&nbsp;&nbsp;&nbsp;
					<span class="label label-warning">积分</span>&nbsp;&nbsp;&nbsp;<span class="badge"><b>8888</b></span>
	 			</div>
	 		</td>
	 		<td class='td'style="word-break:break-all">
	 			<div>
	 				<div class="row">
	 					<div class="col-sm-8">
		 					<b>{$list['name']}</b>
		 				</div>
						<div class="col-sm-4">
		 					<small><b>{$list['addtime']}</b></small>
		 				</div>
		 			</div>
	 			</div>
	 			<hr>
	 			<div><small>{$list['content']}</small></div>
	 			<hr>
	 			<div><b><small>附件</small></b></div>
	 			<hr>
	 			<div>
	 				<div><small>回帖数： <span class="badge">{$totalRow}</span>&nbsp;&nbsp;&nbsp;<b onclick='sendfun()' id='send'>回复</b></small></div><br>
	 				<!-- 文本编辑器 -->
	 				<form action="{:U('dofollow')}" method="post">
	 				<div id='send_show'>
	 					<div class="btn-group btn-group-xs" role="group" aria-label="...">
						  <button type="button" class="btn btn-default" id='font_36'><small><b>36</b></small></button>
						  <button type="button" class="btn btn-default" id='font_24'><small><b>24</b></small></button>
						  <button type="button" class="btn btn-default" id='font_12'><small><b>12</b></small></button>
						  <button type="button" class="btn btn-default" id='cou'><small><b>粗</b></small></button>
						  <button type="button" class="btn btn-default" id='xie'><small><b>斜</b></small></button>
						  <button type="button" class="btn btn-default" id='hua'><small><b>划</b></small></button>
						  <button type="button" class="btn btn-default" id='red'><small><b>红</b></small></button>
						  <button type="button" class="btn btn-default" id='green'><small><b>绿</b></small></button>
						  <button type="button" class="btn btn-default" id='blue'><small><b>蓝</b></small></button>
						  <button type="button" class="btn btn-default" id='black'><small><b>黑</b></small></button>

						</div><br><br>
						<div>
							<textarea class="form-control" rows="3" id='text' style='resize:none;'></textarea><br>
		 					<textarea class="form-control" rows="3" id='text_show' style='display:none;' name='content'></textarea>
				 		</div>
				 			<input type="hidden" name='cardid' value="{$list['id']}">
				 			<input type="hidden" name='floor' value="{$totalRow+1}">
				 			<input type="hidden" name='authorid' value="{$userList['id']}">
						<div class="btn-group btn-group-sm" role="group" aria-label="...">
							<input class="btn btn-default" type="submit" value="发布" id='sub'>
						</div>
					</div>
					</form>	
	 				<!-- 文本编辑器 -->
				</div>
	 		</td>
	 		<td width='200' style="word-break:break-all">广告</td>
	 	</tr>
	 	
	 	<foreach name='followList' key='k' item='v'>	
		 	<tr class='active'>
		 		<td width='220'>
		 			<div>
			 			<b>{$v['uidData']['nickname']}</b>&nbsp;&nbsp;&nbsp;
			 			<span class="badge">{$v['uidData']['username']}</span>
			 			
		 			</div><br>
		 			<div><span class="label label-success"><small><a id="{$v['L']+$k+1}L">{$v['L']+$k+1}L</a></small></span></div>
		 			<hr>
		 			<div align='center'>
		 				<img src="__ROOT__/Uploads/images/new{$v['uidData']['image']}" alt="图片不存在" width='120' class="img-circle">
		 			</div>
		 			<hr>
		 			<div>
		 				<span class="label label-info">等级</span>&nbsp;&nbsp;&nbsp;<span class="badge"><b>8</b></span>&nbsp;&nbsp;&nbsp;
						<span class="label label-warning">积分</span>&nbsp;&nbsp;&nbsp;<span class="badge"><b>8888</b></span>
		 			</div>
		 		</td>
		 		<td class='td' colspan='2'>
		 			<div><b><small>{$v['addtime']}</small></b></div>
		 			<hr>
		 			<div><small><?php echo $v['content'];?></small></div>
		 			<hr>
		 			<div><b><small>附件</small></b></div>
		 		</td>
		 		
		 	</tr>
	 	</foreach>
	 </table>
	<div id="btnBox2" style='margin-left:50px;'>{$show}</div>

	<!-- 快速发布回复框 -->
	<hr width='90%'>
	
	
	
	<!-- 快速发布回复 -->

</body>
<script>
	// 将数字按钮进行包裹
	$('#btnBox').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination pagination-sm"></ul>');
	// 给当前页码高亮显示
	$('#btnBox span').parent().addClass('active');
	// 将数字按钮进行包裹
	$('#btnBox2').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination pagination-sm"></ul>');
	// 给当前页码高亮显示
	$('#btnBox2 span').parent().addClass('active');
	//=========================================锚点跳转楼层===========================================
	var btn=document.getElementById('btn');
	var show=document.getElementById('show');
	var jia=document.getElementById('jia');
	var start=true;
	function shows(){
		if(start){
			//淡入效果
			$("#show").fadeIn("show",function(){
			  	show.style.display='block';
			  	start=false;
				jia.style.transform='rotate('+45+'deg)';
			 });
		}else{
			//淡出效果
			$("#show").fadeOut("show",function(){
			  	show.style.display='none';
			  	start=true;
				jia.style.transform='rotate('+360+'deg)';
			 });
		}
	}
	//=========================================锚点跳转楼层===========================================
	//============================w文本编辑器特效=============================================

	var font_36=document.getElementById('font_36');
	var text=document.getElementById('text');
	var text_show=document.getElementById('text_show');
	var cc=document.getElementById('cc');
	var size=null;
	var cous=true;
	var xies=true;
	var huas=true;
	var a=null;
	//点击设置36号字体
	font_36.onclick=function(){
		font_36.style.background='green';
		font_24.style.background='#fff';
		font_12.style.background='#fff';
		text.style.fontSize='36px';
	};
	//点击设置24号字体
	font_24.onclick=function(){
		font_36.style.background='#fff';
		font_24.style.background='green';
		font_12.style.background='#fff';
		text.style.fontSize='24px';
	};
	//点击设置12号字体
	font_12.onclick=function(){
		font_36.style.background='#fff';
		font_24.style.background='#fff';
		font_12.style.background='green';
		text.style.fontSize='12px';
		
	};
	//点击设置粗体
	cou.onclick=function(){
		if(cous){
			cou.style.background='green';
			text.style.fontWeight='bold';
			cous=false;
		}else{
			cou.style.background='#fff';
			text.style.fontWeight='normal';
			cous=true;
		}
	};
	//点击设置斜体
	xie.onclick=function(){
		if(xies){
			xie.style.background='green';
			text.style.fontStyle='italic';
			xies=false;
		}else{
			xie.style.background='#fff';
			text.style.fontStyle='normal';
			xies=true;
		}
		
		
	};
	//点击设置下划线
	hua.onclick=function(){
		if(huas){
			hua.style.background='green';
			text.style.textDecoration='underline';
			huas=false;
		}else{
			hua.style.background='#fff';
			text.style.textDecoration='none';
			huas=true;
		}
		
		
	};
	//点击设置红色
	red.onclick=function(){
		
			red.style.background='green';
			green.style.background='#fff';
			blue.style.background='#fff';
			black.style.background='#fff';
			text.style.color='red';
	};
	//点击设置绿色
	green.onclick=function(){
		
			green.style.background='green';
			blue.style.background='#fff';
			red.style.background='#fff';
			black.style.background='#fff';
			text.style.color='green';
	};
	//点击设置蓝色
	blue.onclick=function(){
		
			blue.style.background='green';
			green.style.background='#fff';
			red.style.background='#fff';
			black.style.background='#fff';
			text.style.color='blue';
	};
	//点击设置黑色
	black.onclick=function(){
			black.style.background='green';
			blue.style.background='#fff';
			green.style.background='#fff';
			red.style.background='#fff';
			text.style.color='black';
	};
	//获取css样式拼接上text里面的值，再放到text_show用于写入数据库
	var stlcss='';
	sub.onclick=function(){
		a=text.value;
		var stl=text.style.cssText;
		stlcss="<span style='"+stl+"'>"+a+"</span>";
		text_show.innerHTML=stlcss;
	}
	//================点击显示编辑器隐藏=====================================================
	var sends=true;
	function sendfun(){
		if(sends){
			$("#send_show").fadeIn("show",function(){
			  	send_show.style.display='block';
			  	sends=false;
				
			 });
		}else{
			$("#send_show").fadeOut("show",function(){
			  	send_show.style.display='none';
			  	sends=true;
				
			 });
		}
		
	}
	//================点击显示编辑器隐藏=====================================================
	//============================文本编辑器特效=============================================
</script>

</html>