<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
</head>
<body>
	<h1>{$title}</h1>
	<form method="get" action="{:U('Admin/Message/index')}">
		搜索发信人<input name='search_content' type='text' placeholder='请输入要搜索的发信人'>
		搜索收信人<input name='search_nickname' type='text' placeholder='请输入要搜索的收信人'>
		消息状态:
		<select name="status">
			<option value="2">全部</option>
			<option value="0">未读</option>
			<option value="1">已读</option>
		</select>
		<input class="btn btn-primary" type="submit" value="搜索">
		<a href="{:U('Admin/Message/seniorSearch')}">高级搜索</a>
	</form>

	<table class="table table-hover">
		<tr>
			<th></th>
			<th>id</th>
			<th>发信人id</th>
			<th>发信人昵称</th>
			<th>收信人id</th>
			<th>收信人昵称</th>
			<th>始发id</th>
			<th>消息标题</th>
			<th>消息内容</th>
			<th>发信时间</th>		
			<th>状态</th>
			<th>操作</th>
			<th>详细</th>
		</tr>
	<form action="{:U('Admin/Message/del')}" method="post">
		<foreach name="list" key="key" item="val">
			<tr>
				<td><input type="checkbox" name="{$val['id']}" value="{$val['id']}"></td>
				<td>{$val['id']}</td>
				<td>{$val['senderid']}</td>
				<td>{$val['nickname']}</td>
				<td>{$val['receiverid']}</td>
				<td>{$val['receivername']}</td>
				<td>{$val['recordid']}</td>
				<td>{$val['title']}</td>
				<td>{$val['content']}</td>
				<td>{$val['sendtime']}</td>
				<td>{$val['status']}</td>
				<td>
					<if condition="$val['floor'] neq 1">
						<a class="btn btn-info" href="{:U('Admin/Message/update',['id'=>$val['id']])}">
						修改</a>
						<a class="btn btn-danger" href="{:U('Admin/Message/del',['id'=>$val['id'],'p'=>$_GET['p']])}">
						删除</a>
						
					<else/>
						<b>不可操作</b>
					</if>
				</td>
				<td>
					<a class="btn btn-info" href="{:U('Admin/Message/show',['cardid'=>$val['cardid']])}">
					消息详细信息</a>	
				</td>
			</tr>
		</foreach>
	</table>
	<input type="submit" value="删除选中" class="btn btn-danger">
	</form>
	<button onclick="choose()" class="btn btn-info">全选</button>
 	<button onclick="clear_all()" class="btn btn-info">清空</button>
 	<button onclick="fx()" class="btn btn-info">反选</button>
	<div id="btnBox">{$show}</div>
	
</body>
<script>

	// 将数字按钮进行包裹
	$('#btnBox').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination"></ul>');
	// 给当前页码高亮显示
	$('#btnBox span').parent().addClass('active');
	

	var form=document.getElementById("form");
	function choose(){
		// each 就是循环
		$('input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态全部取true
			ziji.checked = true;
		});
	}
	function clear_all(){
		// each 就是循环
		$('td input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态全部取false
			ziji.checked = false;
		});
	}
	function fx(){
		// each 就是循环
		$('td input').each(function(i){
			// 转换为dom对象
			var ziji = $(this)[0];
			// 当前状态取反
			ziji.checked = !ziji.checked;
		});
	}
</script>
</html>