<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form method="post" action="{:U('Admin/Follow/index')}">
		搜索<input name='search' type='text' placeholder='请输入搜索内容'>
		<input type="submit" value="搜索">
	</form>
	<table border=1>
		<tr>
			<th>id</th>
			<th>跟帖人uid</th>
			<th>发帖人authorid</th>
			<th>发帖板块</th>
			<th>跟帖内容</th>
			<th>楼层</th>
			<th>最后修改时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		<foreach name="list" key="key" item="val">
			<tr>
				<td>{$val['id']}</td>
				<td>{$val['uid']}</td>
				<td>{$val['authorid']}</td>
				<td>{$val['cardid']}</td>
				<td>{$val['content']}</td>
				<td>{$val['floor']}</td>
				<td>{$val['edittime']}</td>
				<td>{$val['status']}</td>
				<td>
					<if condition="$val['floor'] neq 1">
						<a href="{:U('Admin/Follow/del',['id'=>$val['id'],'p'=>$_GET['p']])}">
						删除</a>
					<else/>
						<b>不可操作</b>
					</if>
				</td>
			</tr>
		</foreach>
	</table>
	
		<h1>{$show}</h1>
	</table>
</body>
</html>