<extend name='./public/index/Template.html'/>
<block name='path'>
	<foreach name='link' item='val'>
		<li><a href="{$val['path']}">{$val['pname']}</a></li>
	</foreach>
</block>
<block name='css'>
		<link rel="stylesheet" href="__PUBLIC__/css/session.css" />
		<style>
		</style>
</block>
<block name='main'>
	<div id="title">{$SectionTop}</div>
	<if condition='$child neq null'>
		<div id="sections" class="alert alert-success">
			子版块
				<foreach name='child' item='val'>
					<a href="{$val['link']}" class="btn btn-default">{$val['name']}</a>
				</foreach>
		</div>
		<div class="addbtn">
			<a href="{:U('adv_add_subject',I('get.'))}" class="btn btn-default">发表新主题</a>
		</div>
	</if>
	<if condition='$list neq null'>
		<ul id="subject">
			<foreach name='list' item='val'>
				<li class="form-control">
					<div class="floor">{$val.floor}</div>
					<div class="title"><a href="{$val.link}">{$val.name}</a></div>
					<div class="uid"><a href="">{$val.uid}</a>{$val.addtime}</div>
					<div class="fid"><a href="">{$val.fid}</a>{$val.followtime}</div>
				</li>
			</foreach>
		</ul>
		<div id="btnBox">{$show}</div>
	<else />
		<ul id="subject">
			<li>
					<div class="floor">0</div>
					<div class="title">当前板块没有主题</div>
					<div class="uid"></div>
					<div class="fid"></div>
			</li>
		</ul>
	</if>
<if  condition="land_user()">
	<form action="{:U('add_subject')}" method="post">
		<input type="hidden" name='section_id' value="{:I('get.s')}">
		<div id="textarea" class="form-group col-md-12">
			<div class="col-md-1">
				<select class="form-control">
				<option value="1">1</option>
				</select>
			</div>
			<div class="col-md-11">
				<input type="text" class="form-control" name="name" placeholder="输入标题">
			</div>
			<div class="col-md-12">
				<textarea rows="3" name="content" placeholder="输入内容"></textarea>
			</div>
			<center>
			<input type="submit" value="快速发布新主题" class="btn btn-default">
		</div>
	</form>
</if>
</block>