<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script charset="utf-8" src="__PUBLIC__/edit/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/edit/lang/zh-CN.js"></script>
    <script>
            KindEditor.ready(function(K) {
                    window.editor = K.create('#editor_id');
            });
    </script>
</head>
<body>
<form action="{:U('add_subject')}" method="post">
        <input type="hidden" name='section_id' value="{:I('get.s')}">
        <div id="textarea" class="form-group col-md-12">
            <div class="col-md-1">
                <select class="form-control">
                <option value="1">1</option>
                </select>
            </div>
            <div class="col-md-11">
                <input type="text" class="form-control" name="name" placeholder="输入标题">
            </div>
            <div class="col-md-12">
                <textarea rows="3" name="content" placeholder="输入内容" id="editor_id"></textarea>
            </div>
            <center>
            <input type="submit" value="发布新主题" class="btn btn-default">
        </div>
    </form>
</body>
</html>