<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户信息修改</title>
<style type='text/css'>
    .input_from{
        width:300px;
    }
</style>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>

<link rel="stylesheet" href="__PUBLIC__/css/add.css" type="text/css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css" media="screen">

</head>
<body>
<center>
<h1>用户信息修改</h1>
<div><img src="__ROOT__/Uploads/images/new{$data['image']}" alt="图像不存在" /></div>
<div class="div_from_aoto" style="width: 500px;">
    
    <form action="{:U('Admin/Users/updata')}"  method="post" enctype="multipart/form-data">
      <!-- 添加一个隐藏表单传id -->
      <input type="hidden" name="id" id="" style='width:300px' value="{$data['id']}" />
      
      <!-- 添加一个隐藏表单传原图像路径 如果要用原图像就用这个路径及图像名oldimage代表修改之前的图像名-->
      <input type="hidden" name="oldimage" id="" style='width:300px' value="{$data['image']}" />
      

        <div class="control-group">
            <label class="laber_from">账号</label>
            <div class="controls"><input  class="input_from"  placeholder=" 请输入纯数字字符" type="text" name='username' disabled value="{$data['username']}"><p class="help-block"></p></div>
        </div>

        <div class="control-group">
            <label class="laber_from">昵称</label>
            <div class="controls"><input name="nickname"  class="input_from" placeholder=" 请输入昵称" type="text" value="{$data['nickname']}"><p class="help-block"></p></div>
        </div>

        <div class="control-group">
            <label class="laber_from">头像修改</label>
            <div class="controls"><input name="image"  class="input_from" placeholder=" 请输入确认密码" type="file"><p class="help-block"></p></div>
        </div>

        <div class="control-group">
            <label class="laber_from">邮箱</label>
            <div class="controls"><input name="email"  class="input_from" placeholder=" 请输入正确的邮箱地址" type="text" value="{$data['email']}"><p class="help-block"></p></div>
        </div>

        <div class="control-group">
            <label class="laber_from">个性签名</label>
            <div class="controls"><input name="sign"  class="input_from" placeholder="来点不一样的个性签名" type="text" value="{$data['sign']}"><p class="help-block"></p></div>
        </div>

        <div class="control-group">
            <label class="laber_from">性别</label>
            <div class="controls">
                <select name="sex" class="input_select">
                    <option value="1" {$data['sex']==1?'selected':""}>男</option>
                    <option value="0" {$data['sex']==0?'selected':""}>女</option>
                    
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="laber_from">地址</label>
            <div class="controls">
               <input type="text" placeholder="请输入真实的地址" name="address" value="{$data['address']}" id="" style='width:300px'/>
            </div>
        </div>

        <div class="control-group">
            <label class="laber_from"></label>
            <div class="controls">
                <!-- 给个隐藏的默认值管理员为1 超级管理员为0 会员为2 -->
               <input type="hidden" name="status" id="" style='width:300px' value='1' />
            </div>
        </div>

        
        <div class="control-group">
            <label class="laber_from"></label>
            <div class="controls">
                <button class="btn btn-success" style="width:120px;">确认</button>
                <input type="reset" value="清空" class="btn btn-info" style="width:120px;"/>
            </div>
        </div>
    </form>
</div>

</body></html>