<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
</head>
<style>
	table{
		width:50%;
	}
</style>
<body>
	<h1>{$title}
	<a class="btn btn-success" href='{:U('add')}'>新会员添加</a>
	</h1>
<!-- =========查询条件开始============================================================================== -->
		<form class="form-inline" action='{:U('index')}' method="get">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail3">账号</label>
		    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="输入账号" name='username'>
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail3">昵称</label>
		    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="输入昵称" name='nickname'>
		  </div>
		<div class="checkbox">
		    <label>
			    <select class="form-control" name='sex'>
			    		<option value='4'>性别</option>
					  <option value='0'>女</option>
					  <option value='1'>男</option>
					 
				</select>
		    </label>
		  </div>

		 <div class="checkbox">
		    <label>
			    <select class="form-control" name='status'>
			    	<option value='4'>用户类型</option>
					  <option value='0'>锁定</option>
					  <option value='1'>会员</option>
					  <option value='2'>高级会员</option>
					  

				</select>
		    </label>
		  </div>

		  <button type="submit" class="btn btn-default">查询</button>
		</form>
<!-- 查询条件结束======================================================================================= -->
	<form action='{:U('del')}' method='post'><br>

		<table class="table table-hover">
			<tr>
				<th></th>
				<th>图像</th>	
				<th>id</th>
				<th>账号</th>
				<th>昵称</th>
				<th>性别</th>
				<th>地址</th>
				<th>邮箱</th>
				<th>积分</th>
				<th>帖子数</th>
				<th>审核状态</th>
				<th>用户类型</th>
				<th>注册时间</th>
				<th>操作</th>
			</tr>
			
			<foreach name="list" key="key" item="val">
				<tr>
					<td><input type='checkbox' value="{$val['id']}" name='checkbox{$key}'></td>
					<!-- <td>{$val['image']}</td> -->
					<td><img src="__ROOT__/Uploads/images/new{$val['image']}" alt='图像没有上传'></td>
					<td>{$val['id']}</td>
					<td>{$val['username']}</td>
					<td>{$val['nickname']}</td>
					<td>{$val['sex']}</td>
					<td>{$val['address']}</td>
					<td>{$val['email']}</td>
					<td>{$val['integral']}</td>
					<td>{$val['total']}</td>
					<td>{$val['auditingstatus']}</td>
					<td>{$val['status']}</td>
					<td>{$val['addtime']}</td>		
					<td>
						<a class="btn btn-info" href="{:U('Users/edit' , ['id' => $val['id'] ] )}">修改</a>
						<a class="btn btn-danger" href="{:U('Users/del' , ['id' => $val['id'] ] )}">删除</a>
					</td>
				</tr>
			</foreach>
		</table>
		<input type="submit" class="btn btn-danger" onclick='conFirm()' value="删除选中">
		<a class="btn btn-info" onclick='choose()'>全选</a>
		<a class="btn btn-info" onclick='fx()'>反选</a>
		<a class="btn btn-info" onclick='reset()'>清空选择</a>
		</form>
		<div id="btnBox">{$show}</div>
	
</body>
<script>

	// 将数字按钮进行包裹
	$('#btnBox').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination"></ul>');
	// 给当前页码高亮显示
	$('#btnBox span').parent().addClass('active');
	//执行全选
	function choose(){
		var ipt=document.getElementsByTagName('input');//找对象
					for(var i=0;i<ipt.length;i++){
						ipt[i].checked=true;//用for循环分别改属性
					}
	}
	//清空选择
	function reset(){
		var ipt=document.getElementsByTagName('input');//找对象
					for(var i=0;i<ipt.length;i++){
						ipt[i].checked=false;//用for循环分别改属性
					}
	}
	//执行反选
	function fx(){
		//遍历改属性，
			$('input').each(function(i){
					var zj=$(this)[0];
					zj.checked=!zj.checked;//将true改为false false 改为true;
				})
	}
	function conFirm(){
		if(!confirm('确定要删除数据么')){
			reset();
			location.href ='http://localhost/GZ23_PJ_BBS/Admin/Users/del';
		}
	}

	
</script>
</html>