<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>密码找回</title>
<style type='text/css'>
    .input_from{
        width:300px;
    }
</style>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>

<link rel="stylesheet" href="__PUBLIC__/css/add.css" type="text/css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css" media="screen">

</head>
<body>
<center>
<h1>输入您注册的帐号电子邮箱，找回密码：</h1>
<div class="div_from_aoto" style="width: 500px;">
    <!-- <form action="{:U('Home/User/doedit')}"  method="post"> -->
    <form action="{:U('Home/Password/dopassword')}"  method="post" enctype="multipart/form-data">
      
        <div class="control-group">
            <label class="laber_from">帐号</label>
            <div class="controls"><input  class="input_from"  placeholder=" 请输入正确的帐号" type="text" name='username'><p class="help-block"></p></div>
        </div>


        <div class="control-group">
            <label class="laber_from">电子邮箱</label>
            <div class="controls"><input  class="input_from"  placeholder=" 请输入正确的电子邮箱" type="email" name='email'><p class="help-block"></p></div>
        </div>

       
        <div class="control-group">
            <label class="laber_from"></label>
            <div class="controls">
                <button class="btn btn-success" style="width:120px;">提交</button>
                <input type="reset" value="清空" class="btn btn-info" style="width:120px;"/>
            </div>
        </div>
    </form>
</div>

</body></html>