<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>主题添加</title>

<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>

<link rel="stylesheet" href="__PUBLIC__/css/add.css" type="text/css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css" media="screen">

</head>
<body>
<center>
<h1>主题添加</h1>
<div class="div_from_aoto" style="width: 500px;">
    <form action="{:U('subject/add')}"  method="post">

        <div class="control-group">
            <label class="laber_from">主题名称</label>
            <div class="controls"><input name="name" class="input_from" placeholder=" 请输入标题" type="text"><p class="help-block"></p></div>
        </div>

        <div class="control-group">
            <label class="laber_from">发帖用户</label>
            <div class="controls"><input name="uid" class="input_from" placeholder=" 请输入名字" type="text"><p class="help-block"></p></div>
        </div>
        <div class="control-group">
            <label class="laber_from">所属板块</label>
            <div class="controls"><select name="section_id">
                <foreach name='list' item="val">
                   <option value="{$val['id']}">{$val['name']}</option>
                </foreach>
            </select>
            <p class="help-block"></p></div>
        </div>
        <div class="control-group">
            <label class="laber_from">状态</label>
            <div class="controls"><select name="status">
                <option value="0">锁定</option>
                <option value="1" selected>正常</option>
                <option value="2">高亮</option>
            </select>
            <p class="help-block"></p></div>
        </div>
        <div class="control-group">
            <label class="laber_from">主体内容</label>
            <div class="controls">
                <textarea name="content" cols="30" rows="10" id="editor_id" placeholder=" 请输入内容"></textarea>
            </div>
        </div>


        
        <div class="control-group">
            <label class="laber_from"></label>
            <div class="controls">
                <button class="btn btn-success" style="width:120px;">确认</button>
                <input type="reset" value="清空" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>

</body></html>