<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
</head>
<body>
	<h1>{$title} <a href="{:U('subject/add')}" class="btn btn-success">新增主题</a></h1>
	<form method="get"  class="form-inline" action="{:U('Admin/Subject/index')}">
		<input name='name' class="form-control" type='text' placeholder='请输入搜索标题'>
		<input name='search_nickname' class="form-control" type='text' placeholder='请输入发布者昵称'>
		<select name="status" class="form-control">
			<option value="-1">主题状态</option>
			<option value="0">锁定</option>
			<option value="1">未锁定</option>
			<option value="2">高亮</option>
			<option value="2">加精</option>
		</select>
		<input class="btn btn-default" type="submit" value="搜索">
		<!-- <a href="{:U('Admin/follow/seniorSearch')}">高级搜索</a> -->
	</form>
	<table class="table table-hover">
		<tr>
			<th></th>
			<th>id</th>
			<th>标题</th>
			<th>用户ID</th>
			<th>所属板块</th>
			<th>内容</th>
			<th>状态</th>
			<th>操作</th>
		</tr>

		<foreach name="list" key="key" item="val">
			<tr>
				<td><input type="checkbox" name="$val['id']"></td>
				<td>{$val['id']}</td>
				<td>{$val['name']}</td>
				<td>{$val['uid']}</td>
				<td>{$val['section_id']}</td>
				<td>{$val['content']}</td>
				<td>{$val['status']}</td>
				<td>
					<a class="btn btn-info" href="{:U('Subject/edit' , ['id' => $val['id'] ] )}">修改</a>
					<a class="btn btn-danger" href="{:U('Subject/delete' , ['id' => $val['id'] ] )}">删除</a>
				</td>
			</tr>
		</foreach>
	</table>
	<div id="btnBox">{$show}</div>
	 {//js的全选，清空和反选等操作}
    <a class="btn btn-info" onclick="choose()">全选</a>
    <a class="btn btn-info" onclick="clear_all()">清空</a>
    <a class="btn btn-info" onclick="fx()">反选</a>
</body>
<script>

	// 将数字按钮进行包裹
	$('#btnBox').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination"></ul>');
	// 给当前页码高亮显示
	$('#btnBox span').parent().addClass('active');
	
	 var form=document.getElementById("form");
    function choose(){
        // each 就是循环
        $('input').each(function(i){
            // 转换为dom对象
            var ziji = $(this)[0];
            // 当前状态全部取true
            ziji.checked = true;
        });
    }
    function clear_all(){
        // each 就是循环
        $('td input').each(function(i){
            // 转换为dom对象
            var ziji = $(this)[0];
            // 当前状态全部取false
            ziji.checked = false;
        });
    }
    function fx(){
        // each 就是循环
        $('td input').each(function(i){
            // 转换为dom对象
            var ziji = $(this)[0];
            // 当前状态取反
            ziji.checked = !ziji.checked;
        });
    }

</script>
</html>