<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>后台管理表单</title>
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<load href="__PUBLIC__/js/jquery.js"/>
	<load href="__PUBLIC__/js/bootstrap.min.js"/>
</head>
<body>
        <h1>{$title}
			  <a class="btn btn-success" href='{:U('Admin/Admin/add')}'>后台管理员添加</a>
			  </h1>
              <table class="table table-hover">
                      <tr>
                            <th>id</th>
                            <th>管理员帐号</th>
                             <th>管理员名称</th>
                             <th>最后登陆日期</th>
                             <th>最后登陆的ip</th>
                             <th>管理员等级</th>
                             <th>操作</th>
                      </tr>
              <foreach name="list" key="key" item="val">
                   <tr>
              		<td>{$val['id']}</td>
              		<td>{$val['admin_name']}</td>
              		<td>{$val['nickname']}</td>
              		<td>{$val['up_date']}</td>
              		<td>{$val['up_ip']}</td>
                  <td>{$val['status']}</td>
              		<td>
              			<a class="btn btn-danger" href="{:U('Admin/Admin/edit' , ['id' => $val['id'] ] )}">修改</a>
                    <if condition="$val['status'] neq '超级管理员'">
              			<a class="btn btn-info"  href="{:U('Admin/Admin/del',['id' => $val['id'] ])}">删除</a>
                    </if>
              		</td>
	          </tr>
 	</foreach>
              </table>
              <div  id="btnBox">
 		{$show}
 	      </div>
   
</body>
<script type="text/javascript">
         // 将数字按钮进行包裹
      $('#btnBox').children().children().unwrap().wrap('<li></li>').parent().wrapAll('<ul class="pagination"></ul>');
      // 给当前页码高亮显示
      $('#btnBox span').parent().addClass('active');


</script>
</html>