<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>板块添加</title>
<style type='text/css'>
    .input_from{
        width:300px;
    }
</style>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>

<link rel="stylesheet" href="__PUBLIC__/css/add.css" type="text/css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css" media="screen">

</head>
<body>
<center>
<h1>板块添加</h1>
<div class="div_from_aoto" style="width: 500px;">
    <form action="{:U('Admin/Sections/doadd')}"  method="post" enctype="multipart/form-data">
      
        <div class="control-group">
            <label class="laber_from">选择父级板块: </label>
            <div class="controls">
                <select name="parent_id" class="input_select">
                    <option value="0">根目录</option>
                    <foreach name="list" key="key" item="val">
                        <option value="{$val['id']}">{$val['name']}</option>
                    </foreach>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="laber_from">板块名称：</label>
            <div class="controls"><input  class="input_from"  placeholder=" 请输入板块名称" type="text" name='name'><p class="help-block"></p></div>
        </div>
        <div class="control-group">
            <label class="laber_from">板块状态: </label>
            <div class="controls">
                <select name="status" class="input_select">
                    <option value="0">锁定</option>
                    <option value="1" selected>正常</option>
                    <option value="2">高亮</option>                
                </select>
            </div>
        </div>        
        <div class="control-group">
            <label class="laber_from"></label>
            <div class="controls">
                <button class="btn btn-success" style="width:120px;">确认</button>
                <input type="reset" value="清空" class="btn btn-info" style="width:120px;"/>
            </div>
        </div>
    </form>
</div>

</body></html>