<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
             <h1>{$title}</h1>
             <table border="1">
                      
                     <form action="{:U('Admin/Sections/doadd')}" method="post">
                        <div>
                          选择父级板块: <select name="parent_id">
                                        <option value="0">根目录</option>
                                        <foreach name="list" key="key" item="val">
                                            <option value="{$val['id']}">{$val['name']}</option>
                                        </foreach>
                                       </select><br>

                         板块名称: <input type="text" name="name" ><br>
                
                         板块状态: <select name="status">
                                        <option value="0">锁定</option>
                                        <option value="1" selected>正常</option>
                                        <option value="2">高亮</option>
                                       </select><br>

                         板块管理员: <input type="text" name="administrators" ><br>

                           <input type="submit" value="提交">
                           <input type="reset" value="重置">
                      </div>
                     </form>
              </table>
</body>
</html>