<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
             <h1>{$title}</h1>
             <table border="1">
                      <tr>
                            <th>id</th>
                            <th>父级板块id</th>
                             <th>板块名称</th>
                             <th>板块状态</th>
                             <th>板块管理员</th>
                             <th>板块路径</th>
                             <th>操作</th>
                      </tr>
                     <form action="" method="post">
                           <input type="hidden" name="id" value="{$info['id']}"/>
                     </form>
              </table>
</body>
</html>