<extend name='./Public/HomeUserBase.html'/>
<block name='center-content'>
	<div class="panel panel-default">
		<div class="panel-body">
				<div>我的帖子</div><br>
				<ul class="nav nav-tabs">
				<if condition="I('get.id') eq true">
					<li role="presentation"><a href="{:U('index',['id'=>I('get.id'),'search'=>'new'])}" id='anew'>新帖</a><div class='new' id='new'></div></li>
				<else/>
				  <li role="presentation" class='active'><a href="{:U('index',['search'=>'new'])}">新帖</a><div class='new' id='new'></div></li>
				</if>
				<if condition="I('get.id') eq true">
				<li role="presentation"><a href="{:U('index',['id'=>I('get.id'),'search'=>'good'])}">最牛逼</a><div class='new' id='good'></div></li>
				<else/>
				  <li role="presentation" ><a href="{:U('index',['search'=>'good'])}">最牛逼</a><div class='new' id='good'></div></li>
				</if>
				<if condition="I('get.id') eq true">
				<li role="presentation"><a href="{:U('index',['id'=>I('get.id'),'search'=>'all'])}">全部</a><div class='new' id='all'></div></li>
				<else/>
				  <li role="presentation" ><a href="{:U('index',['search'=>'all'])}">全部</a><div class='new' id='all'></div></li>
				</if>
				</ul>
				<table class="table">
					<tr>
						<th width='60%'><small>主题</small></th>
						<th width='20%'><small>时间</small></th>
						<th width='20%'><small>回帖数</small></th>
						
					</tr>
					<foreach name='subjectList' key='k' item='v'>
						<tr>
						<if condition="$k lt 3">
							<td><small><a href="{:U('Home/subject/index',['cid'=>$v['id']])}">{$v['name']}</a></small></td>
							<td><small>{$v['addtime']}</small></td>
							<td><small>{$v['floor']}<b><span style='color:red;font-size:20px;margin-left:10px;'>{$k+1}</span></b></small></td>
						<else/>
							<td><small><a href="{:U('Home/subject/index',['cid'=>$v['id']])}">{$v['name']}</a></small></td>
							<td><small>{$v['addtime']}</small></td>
							<td><small>{$v['floor']}</small></td>
						</if>
						</tr>
					</foreach>
				</table>				
		</div>
</block>