<extend name='./Public/HomeUserBase.html'/>
<block name='styles'>
	.list-group-item{
		<!-- border:none; -->
	}
</block>
<block name='center-content'>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class='row'>
				<div class='col-sm-2'>
					<img src="__ROOT__/Uploads/images/new{$list['image']}" alt="没有上传文件" class="img-rounded" width='50'>

				</div>
				<div class='col-sm-10'>
					<ul class="list-group">
					  <li class="list-group-item" style='border:none;'>基本资料<a class="btn btn-default" href="{:U('doUpload')}" role="button" style='margin-left:250px;'>修改</a></li>
					  <li class="list-group-item list-group-item-warning" style='border:none;'>账号:{$list['username']}</li>
					  <li class="list-group-item " style='border:none;'>昵称:{$list['nickname']}</li>
					  <li class="list-group-item list-group-item-warning" style='border:none;'>性别:{$list['sex']}</li>
					  <li class="list-group-item " style='border:none;'>邮箱:{$list['email']}</li>
					  <li class="list-group-item list-group-item-warning" style='border:none;'>地址:{$list['address']}</li>
					  <li class="list-group-item " style='border:none;'>个性签名:{$list['sign']}</li>
					  <li class="list-group-item list-group-item-warning" style='border:none;'>注册时间:{$list['addtime']}</li>
						
					</ul>	
				</div>
			</div>  
		</div>
</block>